//JQUERY UI DATEPICKER

.ui-widget-header
    background-color: white

td.av-high > a
    background: #64baff !important
    color: white !important

td.av-mid > a
    background: #ffe16b !important
    color: #000000 !important

td.av-low > a
    background: #ed5353 !important
    color: white !important

.ui-widget.ui-widget-content
    border-radius: 8px

.ui-datepicker-calendar a.ui-state-default
    border-width: 3px
    border-radius: 10px
    border-color: white
    color: white
    background-color: #64baff

.ui-datepicker-calendar a.ui-state-active
    border-color: #3689e6
    color: white

.ui-datepicker
    left: 50% !important

#datepicker-container
    text-align: center

#datepicker-center
    display: inline-block
    margin: 0 auto

.ui-widget-header
    border: hidden

.ui-widget
    font-family: inherit

.ui-datepicker td span,
.ui-datepicker td a
    text-align: center
    border: hidden

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
