// ELEMENTOS
@import "colores"

// FORMULARIOS
textarea
  resize: none

// TARJETAS
.card
  border-radius: 10px
  &-blueberry
    background-color: $blueberry
    &-grape
      background-color: $grape
    &-bubblegum
      background-color: $bubblegum

.card-header
  border-radius: 10px

// BOTONES
.btn
  border-radius: 10px

  &-blueberry
    background-color: $blueberry
    border-color: $strong-blueberry
    color: white
    &:hover
      background-color: $strong-blueberry
      color: white

  &-grape
    background-color: $grape
    border-color: $strong-grape
    color: white
    &:hover
      background-color: $strong-grape
      border-color: $strong-grape
      color: white

  &-bubblegum
    background-color: $bubblegum
    border-color: $strong-bubblegum
    color: white
    &:hover
      background-color: $strong-bubblegum
      border-color: $strong-bubblegum
      color: white

  &-mint
    background-color: $mint
    border-color: $strong-mint
    color: white
    &:hover
      background-color: $strong-mint
      border-color: $strong-mint
      color: white

  &-ui
    background-color: transparent
    color: black
    &:hover
      background-color: #f7f7f7

.btn-file
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

  & + label
    cursor: pointer

// TEXTO
.text-blueberry
  color: $blueberry
.text-bubblegum
  color: $bubblegum
.text-grape
  color: $grape
.text-mint
  color: $mint

// COLORES DE FONDO
.bg-blueberry
  background-color: $blueberry
.bg-bubblegum
  background-color: $bubblegum
.bg-grape
  background-color: $grape
.bg-mint
  background-color: $mint

// CLASSES
.bi
  height: 1em
  text-align: inherit
.rounded
  border-radius: 10px !important
.modal
  border-radius: 10px
.modal-content
  border-radius: 10px
.sticky-offset
  top: 69px
.signature
  background-color: white !important
  border-radius: 10px !important
img.logo-navbar
  height: 2rem !important
.inputfile
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

  & + label
    cursor: pointer
.receiver-bubble
  background-color: $blueberry
