// TEMA OSCURO
@import "colores"

@media (prefers-color-scheme: dark)
  body
    background-color: $dark-background
    color: white !important

  // LISTAS
  li.list-group-item
    background-color: $dark-panel
  .list-group-item
    background-color: $dark-panel
    color: white !important
    &:hover
      background-color: $dark-input
      color: white !important

  // BOTONES
  .btn-outline-primary
    color: $blueberry
    border-color: $blueberry
    &:hover
      color: white !important
  .btn-light
    background-color: $dark-element
    border-color: $dark-background
    color: white !important
    &:hover
      background-color: $dark-background
      color: white !important
  .btn-link
    color: $blueberry

  // CHAT
  .message-received
    background-color: #36373a !important
    color: white !important
  .text-primary
    color: $blueberry

  // NAVBAR
  .navbar
    border-color: $dark-background
  .navbar-light
    background-color: $dark-element
    color: white !important
  .navbar-brand
    color: white !important
  .neutron-navbar-dark
    background-color: $dark-element
    color: white !important
  .neutron-body-dark
    background-color: $dark-background
    color: white

  // TABLAS
  .table
    border-color: black !important
    color: white !important
  .table td, .table th
    border-top: 1px solid $dark-background
  .thead-dark
    background-color: $dark-panel
    border-color: $dark-panel
  tr
    border-color: $dark-background
    &:hover
      color: white !important

  // INPUT Y FORMS
  .form-control
    background-color: $dark-input
    color: white !important
    border-color: $dark-panel
    -webkit-appearance: none
  .input-group-text
    background-color: $dark-element
    border-color: $dark-element

  // PAGINACION
  .paginate_button
    background-color: $dark-element
    border-color: $dark-element
    color: white
    .disabled
      background-color: $dark-element
  .page-item
    background-color: $dark-element
    border-color: $dark-element
    color: white
  .page-link
    background-color: $dark-element
    border-color: $dark-element
    color: $link

  // FILEPOND
  .filepond--drop-label
    background-color: $dark-element
    color: white !important

  .filepond--panel-center
    background-color: $dark-element
    color: white !important

  .filepond--panel-bottom
    background-color: $dark-element
    color: white !important

  // COLORES
  .bg-dark
    background-color: $dark-element

  .bg-light
    background-color: $dark-element
    color: white !important

  .bg-white
    background-color: $dark-background
    color: white !important

  .nav-link
    color: white !important

  .disabled
    color: #667885

  .card
    background-color: $dark-panel
    color: white

  .border
    border-color: $dark-input
    border-width: 3px !important

  // MODAL
  .modal-footer
    background-color: $dark-panel
    border-color: $dark-panel

  .modal-content
    background-color: $dark-panel
    border-radius: 10px !important
    border-color: $dark-panel

  // JUMBOTRON
  .jumbotron
    background-color: black !important
    border-color: black !important

  // SIGNATURE PAD
  .signaturepad-sign
    background-color: white !important

  // CALENDARIO
  .ui-widget-content
    background-color: $dark-input
    color: white !important
    border-color: black !important
    border-radius: 10px !important
  .ui-state-disabled
    background-color: $dark-input
    border-color: $dark-input
    color: gray !important
  .ui-datepicker-unselectable
    background-color: $dark-input
    border-color: $dark-input
    color: white !important
  .ui-widget-header
    background-color: $dark-input
    color: white
  td.av-high > a
    background: $blueberry
    color: white !important
  td.av-mid > a
    background: #ffe16b !important
    color: #000000 !important
  td.av-low > a
    background: #ed5353 !important
    color: white !important
  .ui-widget.ui-widget-content
    border-radius: 8px
  .ui-datepicker-calendar a.ui-state-default
    border-width: 3px
    border-radius: 10px
    border-color: $dark-input
    color: white !important
    background-color: $blueberry
    span.ui-state-default
      border: 1px solid $dark-input
      background: $dark-input
      font-weight: normal
      color: white !important
  .ui-datepicker-calendar a.ui-state-active
    border-color: $strong-blueberry
    color: white
    background-color: $strong-blueberry
  .ui-datepicker
    left: 50% !important
  #datepicker-container
    text-align: center
  #datepicker-center
    display: inline-block
    margin: 0 auto
  .ui-widget-header
    border: hidden
  .ui-widget
    font-family: inherit
  .ui-datepicker td span,
  .ui-datepicker td a
    text-align: center
    border: hidden
